header{
  background-color: brown;
  text-align:center;
  margin-top:2px;
  color:ghostwhite;
  font-size:large;
}
h1{
  color:rgb(0, 0, 0);
  align-items:center;
  background-color:brown;
  color:ghostwhite;
}
.img{
  justify-content: center;
  text-align: center;
  align-items:center;
}
.img2{
align-items:center;
align-content:center;
}
body{
  background-color:rgb(255, 255, 255);
  line-height:center;
  font: 1em sans-serif;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  accent-color:inherit;
}
P{
  color:rgb(255, 255, 255);
  background-color:black;
  text-align:center;
  padding-left:50px;
  padding-right:50px;
}

.flexdaddy {
  display: flex;
  justify-content: center;
  align-items: center;
}
p,h1,h2.h3 {
  margin:0;
  padding:0;
}
