
header{
  background-color: rgb(19, 19, 148);
  text-align:center;
  margin-top:2px;
  color:ghostwhite;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:weight;
  font-style:normal;
  z-index:100;
}

h1{
  color:rgb(0, 0, 0);
  align-items:center;
  background-color:rgb(19, 19, 148);
  color:ghostwhite;
}
@keyframes move {
  from {left: 0;}
  to {left: 110px;}
}
.img{
  justify-content: center;
  text-align: center;
  align-items:center;
  animation: img2 6s;
  border-radius:15px;}

@keyframes img2{
  0%{opacity:0%}
}
@keyframes move {
  from {left: 0;}
  to {left: 110px;}
}
.img2{
align-items:center;
align-content:center;
}
body{
  background-color:rgb(255, 255, 255);
  line-height:center;
  font: 1em sans-serif;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  accent-color:inherit;
}
P{
  color:rgb(255, 255, 255);
  background-color:black;
  text-align:center;
  padding-left:50px;
  padding-right:50px;
}

.flexdaddy {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav{
  background-color: rgb(19, 19, 148);
  justify-content:center;
  align-items: space-between;
  font-size: x-large;

}
p,h1,h2.h3 {
  margin:0;
  padding:0px;

}
a{
  color:ghostwhite;
  align-items: center;
  justify-content: space-between;}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  