h1{
  color:ghostwhite;
  align-items:center;
}
.center{
  position:relative;
  top: 50%;
  left: 50%;
  height:auto;
  color:ghostwhite;
}

h4{
  color:ghostwhite;
}
img{
  align-items:center;
}
body{
  background-color:rgb(255, 255, 255)
}
P{
  color:ghostwhite;
}
